<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Macro Meals</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	</head>
	<body class= "loggedoutbackground">

    {{{body}}}
<footer class="page-footer footerloggedout">
      <div class="container">
        <div class="row">
          <div class="col l12 s12">
            <h5 class="white-text center">Macro Meals</h5>
            <p class="grey-text text-lighten-4 center"></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 MacroMeals
        </div>
      </div>
    </footer>

</body>

<script type="text/javascript" src="/js/bin/materialize.min.js"></script>
<script type="text/javascript" src="/js/frontend/frontroutes.js"></script>
<script type="text/javascript" src="/js/frontend/style.js"></script>

</html>
