@charset "UTF-8";

// Colors
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

header, main, footer {
  padding-left: 200px;
}

a.buttoncollapse{
  visibility: hidden;
}


@media only screen and (max-width : 500px) {
  header, main, footer {
    padding-left: 0;
  }

  .buttoncollapse{
    visibility: visible;
    background-color: black;
  }

}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1{
  color: #FFFFFF;
  font-size: 150px;
  font-family: "Play", sans-serif;
  text-shadow: 2px 10px black;
  text-align: left;
}
h2{
  margin-top: 30px !important;
  color: $primary-color;
  text-shadow: 2px 3px black !important;
}
h4{
  text-shadow: 1px 2px lightgrey;
}
.logotitle{
  width: 100%;
  margin-top: 40px;
}
#meals{
  color: #7ED102;

}
.footer-copyright{
  text-align: center;
}

footer{
  height: 100px;
  padding: unset;
  padding: 10px;
}

.footer-copyright{
  height: 50px;
}

.footerrow{
  max-height: 100px;
}
.macrosmini{
  background-color: $primary-color;
  text-align: center;

}
.macrotitleside{
    font-weight: bold;
}
.usertitle{
  text-align: center;
}

.userpicside{
  margin: 0 auto;
}

.userinfoside {
  padding-top: 2px;
  background-color: black;
  margin: 10px;
}
.sidelinks{
  margin: 10px auto;
}
.usertitle{
  margin-top: 10px;
}

form {
  color: black;
}
.userintakeholder{
  background-color: #fafafa;
}

.footerloggedout{
  padding-left: 0px;
  background-color: unset;
  background-color: transparent;
}
.mainloggedout{
  padding-left: 0px;
}

.recipecard {

  float:left;
  float: clear;
  margin: 25px;
  text-align: center;
  max-width: 300px;

}
.loggedoutbackground{
  background-image: url("../img/macromealsfaded.jpg");
  background-size: cover;
}
.signinbutton{
  margin: 0 auto;
  text-align: left;
}
.signupbutton{
  margin: 0 auto;
  text-align: right;
}
#signin{
margin-top: 20px;

}
.text{
  color: #FFFFF !important;
}
.searchbar{
  padding-top: 10px !important;
}
#submitsearch{
  margin-top: 10px;
}
#logoutbutton {
  margin: 0 auto !important;
  text-align: center;
  width: 100%;
}

.footerloggedin{
  padding-left: 200px;
}

.ingredientsCard .recipeCard {
  max-width: 200px;
}

.main{
  background-image: url("../img/noms.png");
  background-repeat:repeat;
  background-size: contain;
  margin-top: 0px;
}
#sendprofile{
  margin-top: 15px;
}
