<main class="main">
  <div class="row">
    <div class = "col s2"></div>
    <div class="input-field col s2">
      <input id="firstingredient" type="number" class="validate">
      <label for="calories">Ingredient One</label>
    </div>

    <div class="input-field col s2">
      <input id="secondingredient" type="number" class="validate">
      <label for="protein">Ingredient Two</label>
    </div>

    <div class="input-field col s2">
      <input id="thirdingredient" type="number" class="validate">
      <label for="carbs">Ingredient Three</label>
    </div>

    <div class="input-field col s2">
      <input id="fourthingredient" type="number" class="validate">
      <label for="fat">Ingredient Four</label>
    </div>

    <div class="row">
      <div class="col s8"></div>
        <div class="col s3">
          <button class="btn waves-effect waves-light" id="ingredientsearch" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class = "col s1"></div>
    </div>

  </div>

<div class = "row">
  <div class = "col s1"></div>
  <div class = "col s10" id="reciperesults">

  </div>
  <div class = "col s1"></div>
</div>

</main>
