<main class="main">
  <div class="row">
    <h2 class="usertitle"> Ingredient Search </h2>
    <h4><center>Try searching recipes based on what you have in your fridge.<center></h4>
    <div class = "col s2"></div>
      <div class = "col s8 hoverable searchbar white z-depth-2 center">
    <div class="input-field col s2">
      <input id="firstingredient" type="text" class="validate">
      <label for="ingredientone">Ingredient One</label>
    </div>

    <div class="input-field col s2">
      <input id="secondingredient" type="text" class="validate">
      <label for="ingredienttwo">Ingredient Two</label>
    </div>

    <div class="input-field col s3">
      <input id="thirdingredient" type="text" class="validate">
      <label for="ingredientthree">Ingredient Three</label>
    </div>

    <div class="input-field col s2">
      <input id="fourthingredient" type="text" class="validate">
      <label for="ingredientfour">Ingredient Four</label>
    </div>

    <div class="input-field col s3">
      <input id="fifthingredient" type="text" class="validate">
      <label for="ingredientfive">Ingredient Five</label>
    </div>
</div>
    <div class="row">
      <div class="col s8"></div>
        <div class="col s3">
          <button class="btn waves-effect waves-light" id="ingredientsearch" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class = "col s1"></div>
    </div>

  </div>

<div class = "row">
  <div class = "col s1"></div>
  <div class = "col s10" id="ingredientsresults">

  </div>
  <div class = "col s1"></div>
</div>

</main>
