<main class="main">
  <div class="row">

    <div class="input-field col s3">
      <input id="calories" type="number" class="validate">
      <label for="calories">Calories</label>
    </div>

    <div class="input-field col s3">
      <input id="protein" type="number" class="validate">
      <label for="protein">Protein(g)</label>
    </div>

    <div class="input-field col s3">
      <input id="carbs" type="number" class="validate">
      <label for="carbs">Carbs(g)</label>
    </div>

    <div class="input-field col s3">
      <input id="fat" type="number" class="validate">
      <label for="fat">Fat(g)</label>
    </div>

    <div class="row">
      <div class="col s10"></div>
        <div class="col s2">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
    </div>

  </div class="row">
</main>



<!--calories, protein, fats, carbs, search button  -->
