<main class="main">
  <div class="row">
    <div class = "col s2"></div>
    <div class="input-field col s2">
      <input id="calories" type="number" class="validate">
      <label for="calories">Calories</label>
    </div>

    <div class="input-field col s2">
      <input id="protein" type="number" class="validate">
      <label for="protein">Protein(g)</label>
    </div>

    <div class="input-field col s2">
      <input id="carbs" type="number" class="validate">
      <label for="carbs">Carbs(g)</label>
    </div>

    <div class="input-field col s2">
      <input id="fat" type="number" class="validate">
      <label for="fat">Fat(g)</label>
    </div>

    <div class="row">
      <div class="col s8"></div>
        <div class="col s3">
          <button class="btn waves-effect waves-light" id="submitsearch" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class = "col s1"></div>
    </div>

  </div>

<div class = "row">
  <div class = "col s1"></div>
  <div class = "col s10" id="reciperesults">

  </div>
  <div class = "col s1"></div>
</div>

</main>
