<main class="main">
  <div class="row">
    <h1 class="usertitle"> User Profile </h1>
    <div class="row">
      <div class="col s2"></div>
      <form class="col s8 userintakeholder z-depth-2 center">
        <div class="row">
          <div class="input-field col s4">
            <input id="firstname" type="text" class="validate">
            <label for="firstname">First Name</label>
          </div>
          <div class="input-field col s4">
            <input id="lastname" type="text" class="validate">
            <label for="lastname">Last Name</label>
          </div>
          <div class="input-field col s4">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3" >
            <select id="gender">
            <option value="" disabled selected></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
            <label>Gender</label>
          </div>
          <div class="input-field col s2">

            <input id="age" type="number" class="validate">
            <label for="age">Age</label>
          </div>

          <div class="col s2">

            <div class="input-field inline">
              <input id="ft" type="number" class="validate">
              <label for="ft">Feet</label>
              <!-- <span class="helper-text" data-error="wrong" data-success="right">Height</span> -->
            </div>
          </div>
          <div class="col s2">

            <div class="input-field inline">
              <input id="inches" type="number" class="validate">
              <label for="inches">Inches</label>
              <!-- <span class="helper-text" data-error="wrong" data-success="right">Height</span> -->
            </div>
          </div>
          <div class="input-field col s3">

            <input id="lbs" type="number" class="validate">
            <label for="lbs">Weight</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3" >
            <select id= "goal">
            <option value="" disabled selected></option>
            <option value="0.8">Cut</option>
            <option value="1">Maintain</option>
            <option value="1.1">Bulk</option>
          </select>
            <label>Goal</label>
          </div>

          <div class=" col s6 activityslider">
            <form action="#" id="exerciseLevel">
              <p class="rangedescrip center">On a scale 1-9, rate your daily activity level.</p>
              <p class="range-field">
                <input type="range"  min="1" max="9" id="exerciseLevel" />
              </p>
            </form>
          </div>

          <div class="input-field col s3" >
            <select type= "Boolean" id="mifflinStJeor">
              <option value="" disabled selected></option>
              <option value=true>No</option>
              <option value=false>Yes</option>
    </select>
            <label>Considered Overweight?</label>
          </div>

          <div class="col s1"></div>
        </div>
        <div class="row">


          <div class="col s3"></div>




      </form>

      <div class="col s2"></div>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="sendprofilez" id="sendprofile">Submit
      <i class="material-icons right">send</i>
    </button>
</main>
