<main class = "mainloggedout">
  <div class="row">
    <h1 class = "center"> MacroMeals </h1>
  <div class = "col s3"></div>
  <div class = "col s6">
    <form id="signin" name="signin" method="post" action="/signin">
        <label for="username">Username</label>
        <input class="text" name="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In"/><input class="btn" id="signupbutton" type="button" value="Sign Up"/>
    </form>
  </div>
  <div class = "col s3"></div>
</div>
</main>
