<main class="main">
  <div class="row">
  <div class = "col s3"></div>
  <div class = "col s6">
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Username</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
  </div>
  <div class = "col s3"></div>
  </main>
